[Unit]
Description=Batteryd - the smallest battery daemon ever
After=syslog.target 

[Service]
Type=simple
ExecStart=/usr/bin/batteryd

[Install]
WantedBy=multi-user.target

