[Unit]
Description=Batteryd - the smallest battery daemon ever
After=syslog.target 

[Service]
Environment=DISPLAY=%I
Type=simple
ExecStart=/usr/bin/batteryd %I

[Install]
WantedBy=multi-user.target

